.overlayNewMessage {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
}

.userInputWrapper{
    border: 2px solid black;
    width: 30vw;
    min-width: 300px;
    background: linear-gradient(
        to bottom,
        rgb(97,61,127) 0%,
        rgb(215,151,225) 100%
        );
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 1rem 1.5rem;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.name {
    margin: 0.2rem 2rem 0.5rem;
}

.enterMessage {
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    height: 5rem;
    padding: 0;
    margin: 0.2rem 0 1rem;
}

#submitInput{
    margin-right: 1rem;
}

.userInputWrapper button {
    cursor: pointer;
    background-color: lightblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

.userInputWrapper button:focus{
    outline: none;
}

.userInputWrapper button:active{
    transform: scale(1.02);
}