.messageWrapper {
    border: 2px solid black;
    width: 100%;
    background-color: #5dbedb;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.info {
    display: flex;
}

.textWrapper {
    border: 2px solid black;
    font-size: 1.5rem;
    background-color: #ffdef3;
    margin: 0 0.5rem 0.2rem;
    border-radius: 5px;
    
}

p {
    margin: 0.2rem 1rem;
}

.nameSpan {
    width: 25%;
}

.date {
    color: #36454f;
    width: 50%;
    text-align: center;
}

.icons {
    text-align: end;
    width: 25%;
}

.editMessage, .deleteMessage {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.editMessage:active, .deleteMessage:active {
    transform: scale(1.02);
}

.messageBottom{
    display: flex;
    justify-content: space-between;
}

.edited {
    color: #36454f;
    text-align: end;
    font-style: italic;
}

.transparent {
    color: transparent;
}

.tryAgain:hover{
    cursor: pointer;
    color: gray;
}