.App {
  background-color: beige;
}

.contentWrapper {
  width: 80vw;
  height: 100vh;
  margin: 0 auto; 
  
  /* background-color: yellowgreen; */
}

.contentWrapper h1 {
  text-align: center; 
  margin: 0;
  padding-top: 1rem;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  border-bottom: 2px solid black;
}

#newEntry {
  margin: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: lightblue;
}

#newEntry:focus{
  outline: none;
}

#newEntry:active {
  transform: scale(0.98);
}

